<ul>
  <% @items.each do |item| %>
    <li>
      <p><b>Title:</b> <%= item['title'] %></p>
      <p><b>Price:</b> <%= item['price'] %></p>
      <p><b>Link:</b> <%= link_to item['full_url'], item['full_url'] %></p>
    </li>
  <% end %>
</ul>
