<b>Top 5 files:</b>
<ul>
  <% @files.each do |file| %>
    <li>
      <p><%= file[1] %> requests - <%= file[0] %></p>
    </li>
  <% end %>
</ul>

<b>Top 5 hostnames:</b>
<ul>
  <% @hostnames.each do |hostname| %>
    <li>
      <p><%= hostname[1] %> requests - <%= hostname[0] %></p>
    </li>
  <% end %>
</ul>