<ul>
  <% @items.each do |item| %>
    <li>
      <p><b>Title:</b> <%= item.try(:at, 'title').try('text') %></p>
      <p><b>Price:</b> <%= item.try(:at, 'price').try('text') %></p>
      <p><b>Link:</b> <%= link_to item.try(:at, 'link').try('text'), item.try(:at, 'link').try('text') %></p>
    </li>
  <% end %>
</ul>
